<%= form_for(@dependent) do |f| %>
  <% if @dependent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dependent.errors.count, "error") %> prohibited this dependent from being saved:</h2>

      <ul>
      <% @dependent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-6">
  <legend>DADOS PESSOAIS</legend>
  <div class="field">
    <%= f.label "Nome Completo" %><br>
    <%= f.text_field :pesdepnome %>
  </div>
  <div class="field">
    <%= f.label "Grau Dependência" %><br>
    <%= f.number_field :pesdepgrau %>
  </div>
  <div class="field">
    <%= f.label "Sexo" %><br>
    <%= f.text_field :pesdepsexo %>
  </div>
  <div class="field">
    <%= f.label "Data de Nascimento" %><br>
    <%= f.date_select :pesdepdn %>
  </div>
  <div class="field">
    <%= f.label "Saram do Responsável" %><br>
    <%= f.text_field :pescodigo %>
  </div>
  <div class="field">
    <%= f.label "Número de Boletim" %><br>
    <%= f.text_field :pesdepboletimnum %>
  </div>
  <div class="field">
    <%= f.label "Data do Boletim" %><br>
    <%= f.date_select :pesdepboletimdata %>
  </div>
  <div class="field">
    <%= f.label "OM da Publicação" %><br>
    <%= f.number_field :pesdepompub %>
  </div>
  <div class="field">
    <%= f.label "Número Rádio" %><br>
    <%= f.text_field :pesdepradionum %>
  </div>
  <div class="field">
    <%= f.label "Data Rádio" %><br>
    <%= f.date_select :pesdepradiodata %>
  </div>
  <div class="field">
    <%= f.label "IRRF" %><br>
    <%= f.number_field :pesdepirrf %>
  </div>
</div>
<div class="col-lg-6">
  <legend>DADOS COMPLEMENTARES</legend>
  <div class="field">
    <%= f.label "Tipo Saram" %><br>
    <%= f.text_field :pesdeptiposaram %>
  </div>
  <div class="field">
    <%= f.label "Tipo Dependente" %><br>
    <%= f.text_field :pesdeptipo %>
  </div>
  <div class="field">
    <%= f.label "User" %><br>
    <%= f.number_field :pesdepuser %>
  </div>
  <div class="field">
    <%= f.label "Data Cadastro" %><br>
    <%= f.date_select :pesdepdatacad %>
  </div>
  <div class="field">
    <%= f.label "Identidade" %><br>
    <%= f.number_field :pesdepid %>
  </div>
  <div class="field">
    <%= f.label "Crachá" %><br>
    <%= f.number_field :pesdeppesid %>
  </div>
  <div class="field">
    <%= f.label "Data Casamento" %><br>
    <%= f.date_select :pesdepdatacas %>
  </div>
  <div class="field">
    <%= f.label "Cracha Dependente" %><br>
    <%= f.number_field :pes_cracha_id %>
  </div>
  <div class="field">
    <%= f.label "Validade Crachá" %><br>
    <%= f.date_select :pes_cracha_val %>
  </div>
<div class="actions">
    <%= f.submit "Incluir Dependente", :class => 'btn btn-success', :style => 'color:white;' %>
    <%= link_to 'Voltar', dependents_path, :class => 'btn btn-warning', :style => 'color:white;' %>
  </div>
<% end %>
</div>