<p id="notice"><%= notice %></p>

<p>
  <strong>Pesdepnome:</strong>
  <%= @dependent.pesdepnome %>
</p>

<p>
  <strong>Pesdepgrau:</strong>
  <%= @dependent.pesdepgrau %>
</p>

<p>
  <strong>Pesdepsexo:</strong>
  <%= @dependent.pesdepsexo %>
</p>

<p>
  <strong>Pesdepdn:</strong>
  <%= @dependent.pesdepdn %>
</p>

<p>
  <strong>Pescodigo:</strong>
  <%= @dependent.pescodigo %>
</p>

<p>
  <strong>Pesdepboletimnum:</strong>
  <%= @dependent.pesdepboletimnum %>
</p>

<p>
  <strong>Pesdepboletimdata:</strong>
  <%= @dependent.pesdepboletimdata %>
</p>

<p>
  <strong>Pesdepompub:</strong>
  <%= @dependent.pesdepompub %>
</p>

<p>
  <strong>Pesdepradionum:</strong>
  <%= @dependent.pesdepradionum %>
</p>

<p>
  <strong>Pesdepradiodata:</strong>
  <%= @dependent.pesdepradiodata %>
</p>

<p>
  <strong>Pesdepirrf:</strong>
  <%= @dependent.pesdepirrf %>
</p>

<p>
  <strong>Pesdeptiposaram:</strong>
  <%= @dependent.pesdeptiposaram %>
</p>

<p>
  <strong>Pesdeptipo:</strong>
  <%= @dependent.pesdeptipo %>
</p>

<p>
  <strong>Pesdepuser:</strong>
  <%= @dependent.pesdepuser %>
</p>

<p>
  <strong>Pesdepdatacad:</strong>
  <%= @dependent.pesdepdatacad %>
</p>

<p>
  <strong>Pesdepid:</strong>
  <%= @dependent.pesdepid %>
</p>

<p>
  <strong>Pesdeppesid:</strong>
  <%= @dependent.pesdeppesid %>
</p>

<p>
  <strong>Pesdepdatacas:</strong>
  <%= @dependent.pesdepdatacas %>
</p>

<p>
  <strong>Pes cracha:</strong>
  <%= @dependent.pes_cracha_id %>
</p>

<p>
  <strong>Pes cracha val:</strong>
  <%= @dependent.pes_cracha_val %>
</p>

<%= link_to 'Edit', edit_dependent_path(@dependent) %> |
<%= link_to 'Back', dependents_path %>
