<%= form_for(@situation) do |f| %>
  <% if @situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
      <% @situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :situacaodesc %><br>
    <%= f.text_field :situacaodesc %>
  </div>
  <div class="field">
    <%= f.label :situacaoabrev %><br>
    <%= f.text_field :situacaoabrev %>
  </div>
  <div class="field">
    <%= f.label :situacaoid %><br>
    <%= f.number_field :situacaoid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
