<p id="notice"><%= notice %></p>

<p>
  <strong>Situacaodesc:</strong>
  <%= @situation.situacaodesc %>
</p>

<p>
  <strong>Situacaoabrev:</strong>
  <%= @situation.situacaoabrev %>
</p>

<p>
  <strong>Situacaoid:</strong>
  <%= @situation.situacaoid %>
</p>

<%= link_to 'Edit', edit_situation_path(@situation) %> |
<%= link_to 'Back', situations_path %>
