<%= form_for(@posto_graduacao) do |f| %>
  <% if @posto_graduacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posto_graduacao.errors.count, "error") %> prohibited this posto_graduacao from being saved:</h2>

      <ul>
      <% @posto_graduacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
