<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% @pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :saram %><br>
    <%= f.text_field :saram %>
  </div>
  <div class="field">
    <%= f.label :antiguidade %><br>
    <%= f.number_field :antiguidade %>
  </div>
  <div class="field">
    <%= f.label :nome_completo %><br>
    <%= f.text_field :nome_completo %>
  </div>
  <div class="field">
    <%= f.label :nome_guerra %><br>
    <%= f.text_field :nome_guerra %>
  </div>
  <div class="field">
    <%= f.label :imagem %><br>
    <%= f.text_field :imagem %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br>
    <%= f.date_select :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label :posto_graduacao_id %><br>
    <%= f.text_field :posto_graduacao_id %>
  </div>
  <div class="field">
    <%= f.label :especialidade_id %><br>
    <%= f.text_field :especialidade_id %>
  </div>
  <div class="field">
    <%= f.label :situacao %><br>
    <%= f.number_field :situacao %>
  </div>
  <div class="field">
    <%= f.label :sispes %><br>
    <%= f.text_field :sispes %>
  </div>
  <div class="field">
    <%= f.label :identidade %><br>
    <%= f.text_field :identidade %>
  </div>
  <div class="field">
    <%= f.label :rarc %><br>
    <%= f.text_field :rarc %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :pispasep %><br>
    <%= f.text_field :pispasep %>
  </div>
  <div class="field">
    <%= f.label :titulonum %><br>
    <%= f.text_field :titulonum %>
  </div>
  <div class="field">
    <%= f.label :titulozona %><br>
    <%= f.number_field :titulozona %>
  </div>
  <div class="field">
    <%= f.label :titulosecao %><br>
    <%= f.number_field :titulosecao %>
  </div>
  <div class="field">
    <%= f.label :titulocidade %><br>
    <%= f.text_field :titulocidade %>
  </div>
  <div class="field">
    <%= f.label :titulouf %><br>
    <%= f.text_field :titulouf %>
  </div>
  <div class="field">
    <%= f.label :cnhnum %><br>
    <%= f.text_field :cnhnum %>
  </div>
  <div class="field">
    <%= f.label :cnhcat %><br>
    <%= f.text_field :cnhcat %>
  </div>
  <div class="field">
    <%= f.label :cnhvalidade %><br>
    <%= f.date_select :cnhvalidade %>
  </div>
  <div class="field">
    <%= f.label :om %><br>
    <%= f.number_field :om %>
  </div>
  <div class="field">
    <%= f.label :omanterior %><br>
    <%= f.number_field :omanterior %>
  </div>
  <div class="field">
    <%= f.label :motivotransf %><br>
    <%= f.text_field :motivotransf %>
  </div>
  <div class="field">
    <%= f.label :localtrabalho %><br>
    <%= f.number_field :localtrabalho %>
  </div>
  <div class="field">
    <%= f.label :turma %><br>
    <%= f.text_field :turma %>
  </div>
  <div class="field">
    <%= f.label :tempoantano %><br>
    <%= f.text_field :tempoantano %>
  </div>
  <div class="field">
    <%= f.label :tempoantmes %><br>
    <%= f.text_field :tempoantmes %>
  </div>
  <div class="field">
    <%= f.label :tempoantdia %><br>
    <%= f.text_field :tempoantdia %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :religiao %><br>
    <%= f.text_field :religiao %>
  </div>
  <div class="field">
    <%= f.label :estadocivil %><br>
    <%= f.number_field :estadocivil %>
  </div>
  <div class="field">
    <%= f.label :tiposangue %><br>
    <%= f.number_field :tiposangue %>
  </div>
  <div class="field">
    <%= f.label :filpai %><br>
    <%= f.text_field :filpai %>
  </div>
  <div class="field">
    <%= f.label :filmae %><br>
    <%= f.text_field :filmae %>
  </div>
  <div class="field">
    <%= f.label :naturalcidade %><br>
    <%= f.text_field :naturalcidade %>
  </div>
  <div class="field">
    <%= f.label :naturaluf %><br>
    <%= f.text_field :naturaluf %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :uf %><br>
    <%= f.text_field :uf %>
  </div>
  <div class="field">
    <%= f.label :cep %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :fone1 %><br>
    <%= f.text_field :fone1 %>
  </div>
  <div class="field">
    <%= f.label :fone2 %><br>
    <%= f.text_field :fone2 %>
  </div>
  <div class="field">
    <%= f.label :fonetrab %><br>
    <%= f.text_field :fonetrab %>
  </div>
  <div class="field">
    <%= f.label :fonetrabramal %><br>
    <%= f.text_field :fonetrabramal %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :funcao %><br>
    <%= f.text_field :funcao %>
  </div>
  <div class="field">
    <%= f.label :falert %><br>
    <%= f.text_field :falert %>
  </div>
  <div class="field">
    <%= f.label :falertesquadrao %><br>
    <%= f.number_field :falertesquadrao %>
  </div>
  <div class="field">
    <%= f.label :escala %><br>
    <%= f.number_field :escala %>
  </div>
  <div class="field">
    <%= f.label :livrobruxa %><br>
    <%= f.number_field :livrobruxa %>
  </div>
  <div class="field">
    <%= f.label :comportamento %><br>
    <%= f.text_field :comportamento %>
  </div>
  <div class="field">
    <%= f.label :banco %><br>
    <%= f.number_field :banco %>
  </div>
  <div class="field">
    <%= f.label :agencia %><br>
    <%= f.text_field :agencia %>
  </div>
  <div class="field">
    <%= f.label :contacorrente %><br>
    <%= f.text_field :contacorrente %>
  </div>
  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_area :obs %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.number_field :user %>
  </div>
  <div class="field">
    <%= f.label :datacadastro %><br>
    <%= f.date_select :datacadastro %>
  </div>
  <div class="field">
    <%= f.label :cracha %><br>
    <%= f.number_field :cracha %>
  </div>
  <div class="field">
    <%= f.label :turnotrabalho %><br>
    <%= f.number_field :turnotrabalho %>
  </div>
  <div class="field">
    <%= f.label :cmt %><br>
    <%= f.number_field :cmt %>
  </div>
  <div class="field">
    <%= f.label :escala1 %><br>
    <%= f.number_field :escala1 %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :secao %><br>
    <%= f.text_field :secao %>
  </div>
  <div class="field">
    <%= f.label :escala_preta %><br>
    <%= f.number_field :escala_preta %>
  </div>
  <div class="field">
    <%= f.label :escala_vermelha %><br>
    <%= f.number_field :escala_vermelha %>
  </div>
  <div class="field">
    <%= f.label :escala_roxa %><br>
    <%= f.number_field :escala_roxa %>
  </div>
  <div class="field">
    <%= f.label :escala_amarela %><br>
    <%= f.number_field :escala_amarela %>
  </div>
  <div class="field">
    <%= f.label :mostra_niver %><br>
    <%= f.check_box :mostra_niver %>
  </div>
  <div class="field">
    <%= f.label :cracha_id %><br>
    <%= f.number_field :cracha_id %>
  </div>
  <div class="field">
    <%= f.label :cracha_validade %><br>
    <%= f.date_select :cracha_validade %>
  </div>
  <div class="field">
    <%= f.label :vilaa %><br>
    <%= f.number_field :vilaa %>
  </div>
  <div class="field">
    <%= f.label :escala_receber_email %><br>
    <%= f.number_field :escala_receber_email %>
  </div>
  <div class="field">
    <%= f.label :esqsec_id %><br>
    <%= f.number_field :esqsec_id %>
  </div>
  <div class="field">
    <%= f.label :ass_dispensa %><br>
    <%= f.number_field :ass_dispensa %>
  </div>
  <div class="field">
    <%= f.label :funcao_id %><br>
    <%= f.number_field :funcao_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
