<p id="notice"><%= notice %></p>

<p>
  <strong>Saram:</strong>
  <%= @pessoa.saram %>
</p>

<p>
  <strong>Antiguidade:</strong>
  <%= @pessoa.antiguidade %>
</p>

<p>
  <strong>Nome completo:</strong>
  <%= @pessoa.nome_completo %>
</p>

<p>
  <strong>Nome guerra:</strong>
  <%= @pessoa.nome_guerra %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @pessoa.imagem %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @pessoa.data_nascimento %>
</p>

<p>
  <strong>Posto graduacao:</strong>
  <%= @pessoa.posto_graduacao %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @pessoa.especialidade %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @pessoa.situacao %>
</p>

<p>
  <strong>Sispes:</strong>
  <%= @pessoa.sispes %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @pessoa.identidade %>
</p>

<p>
  <strong>Rarc:</strong>
  <%= @pessoa.rarc %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.cpf %>
</p>

<p>
  <strong>Pispasep:</strong>
  <%= @pessoa.pispasep %>
</p>

<p>
  <strong>Titulonum:</strong>
  <%= @pessoa.titulonum %>
</p>

<p>
  <strong>Titulozona:</strong>
  <%= @pessoa.titulozona %>
</p>

<p>
  <strong>Titulosecao:</strong>
  <%= @pessoa.titulosecao %>
</p>

<p>
  <strong>Titulocidade:</strong>
  <%= @pessoa.titulocidade %>
</p>

<p>
  <strong>Titulouf:</strong>
  <%= @pessoa.titulouf %>
</p>

<p>
  <strong>Cnhnum:</strong>
  <%= @pessoa.cnhnum %>
</p>

<p>
  <strong>Cnhcat:</strong>
  <%= @pessoa.cnhcat %>
</p>

<p>
  <strong>Cnhvalidade:</strong>
  <%= @pessoa.cnhvalidade %>
</p>

<p>
  <strong>Om:</strong>
  <%= @pessoa.om %>
</p>

<p>
  <strong>Omanterior:</strong>
  <%= @pessoa.omanterior %>
</p>

<p>
  <strong>Motivotransf:</strong>
  <%= @pessoa.motivotransf %>
</p>

<p>
  <strong>Localtrabalho:</strong>
  <%= @pessoa.localtrabalho %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @pessoa.turma %>
</p>

<p>
  <strong>Tempoantano:</strong>
  <%= @pessoa.tempoantano %>
</p>

<p>
  <strong>Tempoantmes:</strong>
  <%= @pessoa.tempoantmes %>
</p>

<p>
  <strong>Tempoantdia:</strong>
  <%= @pessoa.tempoantdia %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pessoa.sexo %>
</p>

<p>
  <strong>Religiao:</strong>
  <%= @pessoa.religiao %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @pessoa.estadocivil %>
</p>

<p>
  <strong>Tiposangue:</strong>
  <%= @pessoa.tiposangue %>
</p>

<p>
  <strong>Filpai:</strong>
  <%= @pessoa.filpai %>
</p>

<p>
  <strong>Filmae:</strong>
  <%= @pessoa.filmae %>
</p>

<p>
  <strong>Naturalcidade:</strong>
  <%= @pessoa.naturalcidade %>
</p>

<p>
  <strong>Naturaluf:</strong>
  <%= @pessoa.naturaluf %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pessoa.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @pessoa.bairro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa.numero %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pessoa.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @pessoa.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pessoa.cep %>
</p>

<p>
  <strong>Fone1:</strong>
  <%= @pessoa.fone1 %>
</p>

<p>
  <strong>Fone2:</strong>
  <%= @pessoa.fone2 %>
</p>

<p>
  <strong>Fonetrab:</strong>
  <%= @pessoa.fonetrab %>
</p>

<p>
  <strong>Fonetrabramal:</strong>
  <%= @pessoa.fonetrabramal %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @pessoa.funcao %>
</p>

<p>
  <strong>Falert:</strong>
  <%= @pessoa.falert %>
</p>

<p>
  <strong>Falertesquadrao:</strong>
  <%= @pessoa.falertesquadrao %>
</p>

<p>
  <strong>Escala:</strong>
  <%= @pessoa.escala %>
</p>

<p>
  <strong>Livrobruxa:</strong>
  <%= @pessoa.livrobruxa %>
</p>

<p>
  <strong>Comportamento:</strong>
  <%= @pessoa.comportamento %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @pessoa.banco %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @pessoa.agencia %>
</p>

<p>
  <strong>Contacorrente:</strong>
  <%= @pessoa.contacorrente %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @pessoa.obs %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pessoa.tipo %>
</p>

<p>
  <strong>User:</strong>
  <%= @pessoa.user %>
</p>

<p>
  <strong>Datacadastro:</strong>
  <%= @pessoa.datacadastro %>
</p>

<p>
  <strong>Cracha:</strong>
  <%= @pessoa.cracha %>
</p>

<p>
  <strong>Turnotrabalho:</strong>
  <%= @pessoa.turnotrabalho %>
</p>

<p>
  <strong>Cmt:</strong>
  <%= @pessoa.cmt %>
</p>

<p>
  <strong>Escala1:</strong>
  <%= @pessoa.escala1 %>
</p>

<p>
  <strong>Login:</strong>
  <%= @pessoa.login %>
</p>

<p>
  <strong>Secao:</strong>
  <%= @pessoa.secao %>
</p>

<p>
  <strong>Escala preta:</strong>
  <%= @pessoa.escala_preta %>
</p>

<p>
  <strong>Escala vermelha:</strong>
  <%= @pessoa.escala_vermelha %>
</p>

<p>
  <strong>Escala roxa:</strong>
  <%= @pessoa.escala_roxa %>
</p>

<p>
  <strong>Escala amarela:</strong>
  <%= @pessoa.escala_amarela %>
</p>

<p>
  <strong>Mostra niver:</strong>
  <%= @pessoa.mostra_niver %>
</p>

<p>
  <strong>Cracha:</strong>
  <%= @pessoa.cracha_id %>
</p>

<p>
  <strong>Cracha validade:</strong>
  <%= @pessoa.cracha_validade %>
</p>

<p>
  <strong>Vilaa:</strong>
  <%= @pessoa.vilaa %>
</p>

<p>
  <strong>Escala receber email:</strong>
  <%= @pessoa.escala_receber_email %>
</p>

<p>
  <strong>Esqsec:</strong>
  <%= @pessoa.esqsec_id %>
</p>

<p>
  <strong>Ass dispensa:</strong>
  <%= @pessoa.ass_dispensa %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @pessoa.funcao_id %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
