<p id="notice"><%= notice %></p>

<p>
  <strong>Espdesc:</strong>
  <%= @specialty.espdesc %>
</p>

<p>
  <strong>Espabrev:</strong>
  <%= @specialty.espabrev %>
</p>

<p>
  <strong>Espcodigo:</strong>
  <%= @specialty.espcodigo %>
</p>

<p>
  <strong>Espgrupo1:</strong>
  <%= @specialty.espgrupo1 %>
</p>

<p>
  <strong>Espgrupo2:</strong>
  <%= @specialty.espgrupo2 %>
</p>

<p>
  <strong>Espid:</strong>
  <%= @specialty.espid %>
</p>

<%= link_to 'Edit', edit_specialty_path(@specialty) %> |
<%= link_to 'Back', specialties_path %>
