<div class="pen-title">
  <h1>GeMil</h1><span>Gestao de militares e civis | Desenvolvido por <a href=''>3S Ricardo Souza</a></span>
</div>
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Duvidas?</div>
  </div>
  <div class="form">
    <h2>Conexao LDAP</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :login, autofocus: true, :placeholder => 'Login' %>
      <%= f.password_field :password, autocomplete: "off", :placeholder => 'Senha' %>
      <div class="actions">
      <%= f.submit "Conectar", :class => 'submit' %>
      </div>
      
    <% end %>
  </div>
  <div class="form">
    <p>Duvidas gerais</p>
  </div>
  
  <div class="cta"><a href="http://">Esqueceu sua senha?</a></div>
</div>

<%= render "devise/shared/links" %>
