<p id="notice"><%= notice %></p>

<p>
  <strong>Quadrodesc:</strong>
  <%= @frame.quadrodesc %>
</p>

<p>
  <strong>Quadroabrev:</strong>
  <%= @frame.quadroabrev %>
</p>

<p>
  <strong>Quadrogrupo:</strong>
  <%= @frame.quadrogrupo %>
</p>

<p>
  <strong>Quadroid:</strong>
  <%= @frame.quadroid %>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
