<p id="notice"><%= notice %></p>

<p>
  <strong>Pgdesc:</strong>
  <%= @graduation.pgdesc %>
</p>

<p>
  <strong>Pgabrev:</strong>
  <%= @graduation.pgabrev %>
</p>

<p>
  <strong>Pgabrevtdp:</strong>
  <%= @graduation.pgabrevtdp %>
</p>

<p>
  <strong>Pgrefeitorio:</strong>
  <%= @graduation.pgrefeitorio %>
</p>

<p>
  <strong>Pggrupo1:</strong>
  <%= @graduation.pggrupo1 %>
</p>

<p>
  <strong>Pggrupotdp:</strong>
  <%= @graduation.pggrupotdp %>
</p>

<p>
  <strong>Pgclasse:</strong>
  <%= @graduation.pgclasse %>
</p>

<p>
  <strong>Pgid:</strong>
  <%= @graduation.pgid %>
</p>

<p>
  <strong>Pggrupo2:</strong>
  <%= @graduation.pggrupo2 %>
</p>

<p>
  <strong>Pgpronome:</strong>
  <%= @graduation.pgpronome %>
</p>

<p>
  <strong>Pgpronome2:</strong>
  <%= @graduation.pgpronome2 %>
</p>

<p>
  <strong>Pgabrev1:</strong>
  <%= @graduation.pgabrev1 %>
</p>

<%= link_to 'Edit', edit_graduation_path(@graduation) %> |
<%= link_to 'Back', graduations_path %>
